<!-- ========== HEADER ========== -->

<header class="hidden navigation headroom headroom--top headroom--not-bottom" id="navigation">
    <div class="navigation-wrapper">
      <!-- logo - you can put yours here -->
      <a class="logo" href="index.html"><img alt="logo" src="/images/juxta_logo.jpg"> </a>

     
  <!-- mobile menu toggle -->
       <a class="navigation-menu-button" href="" id="js-mobile-menu">MENU</a> <!-- navigation menu -->
      <a href="#section-intro">  <span style="margin: 25px 50px;">Karel van Mander</span></a>
        <ul id="navigation-menu"> 
         
          <li class="nav-link">
            <a href="#">link</a>
          </li>
          <li class="nav-link">
			<a href="#footer">link</a>
			 
		  </li>
		  
		  <li id="js-centered-more" class="nav-link more"><a href="javascript:void(0)">More</a>
			<ul class="submenu">
			  <li><a href="javascript:void(0)">Submenu Item</a></li>
			  <li><a href="javascript:void(0)">Another Item</a></li>
			  <li class="more"><a href="javascript:void(0)">Item with submenu</a>
				<ul class="submenu fly-out-right">
				  <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
				  <li><a href="javascript:void(0)">Another Item</a></li>
				</ul>
			  </li>
			  <li class="more"><a href="javascript:void(0)">Another submenu</a>
				<ul class="submenu fly-out-right">
				  <li><a href="javascript:void(0)">Sub-submenu</a></li>
				  <li><a href="javascript:void(0)">An Item</a></li>
				</ul>
			  </li>
			</ul>
		  </li>
          
        </ul>
      </div>
   
  </header>
 

<!-- ========== END HEADER ========== -->