<!-- ========== LEFT COLUMN ========== -->
<nav id="access" role="navigation">
    <div class="menu">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/juxta-commons/">Juxta Commons</a></li>
            <li><a href="/screenshots/">Screenshots</a></li>
            <li><a href="/download/">Download</a></li>
            <li><a href="/about/">About</a></li>
            <li><a target="_blank" href="https://github.com/performant-software/juxta-desktop/wiki/UserManual">User Manual</a></li>
        </ul>
    </div>
    <div class="menu">
        <ul>
            
        </ul>
    </div>
</nav>
<!-- ========== END LEFT COLUMN========== -->