// Breakpoints
// =========================================================

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$grid-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
) !default;

// Color System
// =========================================================

// stylelint-disable
// Grays
$gray-200: #f8fafd !default;
$gray-300: #e7eaf3 !default;
$gray-400: #bdc5d1 !default;
$gray-500: #97a4af !default;
$gray-600: #8c98a4 !default;
$gray-700: #77838f !default;
$gray-900: #333333 !default;

// Colors
$white: #fff !default;
$dark: $gray-900 !default;
$blue: #377dff !default;
$blue-darker: #196eff !default;
$blue-lighter: #19a0ff !default;
$teal: #00c9a7 !default;
$teal-lighter: #13d7b6 !default;
$cyan: #00dffc !default;
$cyan-lighter: #55eafe !default;
$yellow: #ffc107 !default;
$yellow-darker: #efa02e !default;
$yellow-lighter: #fdd14e !default;
//cvs red
$red: #cc0000 !default;
$red-lighter: #ec5245 !default;
$indigo: #2d1582 !default;
$facebook: #3b5998 !default;
$google: #d14130 !default;
$twitter: #1da1f2 !default;
$instagram: #3f729b !default;
$github: #24292e !default;

// Theme Colors
$primary: $red !default;
$primary-darker: $blue-darker !default;
$primary-lighter: $blue-lighter !default;
$secondary: $gray-700 !default;
$success: $teal !default;
$success-lighter: $teal-lighter !default;
$info: $cyan !default;
$info-lighter: $cyan-lighter !default;
$warning: $yellow !default;
$warning-darker: $yellow-darker !default;
$warning-lighter: $yellow-lighter !default;
$danger: $red !default;
$danger-lighter: $red-lighter !default;

// Theme Colors
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "white": $white,
    "red": $gray-900
  ),
  $theme-colors
);

$headings-font-weight: bold;
$h2-font-size: 28px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 20px;
$cta-font-size: 18px;
