.swan {

    margin-bottom:50px;

}

.centered-navigation-v2 {
  background-color:transparent;

  min-height: 50px;
  width: 100%;
  z-index: 9999;
 
  
  .mobile-logo {
    display: inline;
    float: left;
    max-height: 100px;
    padding-left: 1em;
    img {
      max-height: 40px;
      opacity: 0.6;
      padding: 0.8em 0;
    }
  }
  .centered-navigation-mobile-menu {
    color: #000000;
    display: block;
    float: right;
    line-height: 40px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;
  }
  .centered-navigation-wrapper {
    max-width: 90em;
    max-height: 7.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999;
    &::after {
      clear: both;
      content: "";
      display: table;
      clear: both;
      content: "";
      display: table;
    }
  }
  ul {
    &.centered-navigation-menu {
      clear: both;
      display: none;
      margin: 0 auto;
      overflow: visible;
      padding: 0;
      -webkit-transform-style: preserve-3d;
      width: 100%;
      z-index: 99999;
      &.show {
        display: block;
      }
    }
    li.nav-link {
      background: transparent !important;
      display: block;
      line-height: 40px;
      overflow: hidden;
      padding-right: 1em;
      text-align: right;
      width: 100%;
      z-index: 9999;
      bottom: 0px !important;
      &.cta a {
        font: inherit;
        padding: 7px 14px;
        border-radius: 3px;
        border: none;
        display: inline-block;
        cursor: pointer;
        position: relative;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        color: #333;
        background: #3ec2e9;
        box-shadow: 0 4px #169dc4;
        -webkit-transition: all, 0.1s;
        -moz-transition: all, 0.1s;
        transition: all, 0.1s;
        text-transform: none !important;
        font-family: Garamond;
        color: white;
        display: inline;
        &:disabled {
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
        &:active:not(:disabled) {
          box-shadow: 0 0px #35a5c6;
          top: 4px;
        }
        i {
          margin-right: 0.5em;
        }
      }
      a {
        color: #e5ecf0;
        display: inline-block;
        outline: none;
        text-decoration: none;
        font-family: Garamond;
        font-size: 0.9em;
        text-transform: uppercase;
        font-weight: 100;
      }
    }
  }
  li.logo.nav-link {
    display: none;
    line-height: 0;
  }
  .logo img {
    margin-bottom: 10em;
    max-height: 10em;
    opacity: 1;
  }
  li.more {
    &.nav-link {
      padding-right: 0;
      > ul > li:first-child a {
        padding-top: 1em;
      }
      a {
        margin-right: 1em;
      }
      > a {
        padding-right: 0.6em;
        &::after {
          position: absolute;
          top: auto;
          right: -0.4em;
          bottom: auto;
          left: auto;
          color: #e5ecf0;
          content: "\25BE";
        }
      }
    }
    overflow: visible;
    padding-right: 0;
    a {
      padding-right: 1em;
    }
    > a {
      padding-right: 1.6em;
      position: relative;
      &::after {
        content: "ΓÇ║";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em;
      }
    }
    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }
  }
  ul.submenu {
    display: none;
    padding-left: 0;
    li {
      display: block;
      padding-right: 0;
      a {
        background-color: #efe8e4;
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;
      }
    }
  }
}
#branding {
  display: none;
}
@media screen and (min-width: 80em) {
  #branding {
    display: block;
  }
}

 

@media screen and (min-width: 80em) {
  .centered-navigation-v2 .mobile-logo {
    display: none;
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 .centered-navigation-mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 ul.centered-navigation-menu {
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 .nav-link:first-child {
    margin-left: 2.2em;
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 40px;
    a {
      padding-right: 1em;
    }
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 li.logo.nav-link {
    display: inline;
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 li.more.nav-link {
    padding-right: 1em;
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 li.more > a {
    margin-right: 1em;
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 li.more {
    padding-right: 1em;
    position: relative;
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 ul.submenu .submenu.fly-out-right {
    left: 11.8em;
    top: 0;
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 ul.submenu .submenu.fly-out-left {
    left: -11.8em;
    top: 0;
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 ul.submenu li {
    line-height: 30.76923px;
    &:first-child > a {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &:last-child > a {
      
      padding-bottom: 0.7em;
    }
  }
}

@media screen and (min-width: 80em) {
  .centered-navigation-v2 ul.submenu li a {
    background-color: #efe8e4;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}
