<!DOCTYPE html>
<html id="landing-page" lang="en">

{% include head.html %}


<body class="index">
   
    <!--homepage if is called home  ---->
    <div class="container-fluid p-0">
            {% include header2.html %}
    </div>
    <div class="site-wrapper-v2 ">
           
            <div id="home" class="site-wrapper-inner bg">
                <div class="cover-container">
                    <!--content pages ---->
                    <main id="content" role="main" class="inner cover">
                        <div class="container">
                                {{ content }}
                        </div>
                    </main>
                    <!--end content pages ---->
                   
                </div>
                <!-- end cover container -->
            </div>
            <!-- end site wrapper bg -->
        </div>
        <!--end homepage - home -->


    
	<div class="container-fluid">
	  
		{% include footer.html %}
	</div>
</body>
{% include scripts.html %}

</html>